%div{id: "carousel_owl", class: "owl-carousel owl-theme"}
  %div.item
    %img
      = image_tag 'ajax.jpg', alt: "ajax"
  %div.item
    %img
      = image_tag 'bootstrap.jpg', alt: "bootstrap"
  %div.item
    %img
      = image_tag 'git.jpg', alt: "git"
  %div.item
    %img
      = image_tag 'github.jpg', alt: "github"
  %div.item 
    %img
      = image_tag 'haml.png', alt: "haml"
  %div.item
    %img
      = image_tag 'heroku.png', alt: "heroku"
  %div.item
    %img
      = image_tag 'owl-carousel2.jpg', alt: "owl-carousel2"