.well.well-sm
  %div{align: "center"}
    = image_tag @user.avatar, size: "300"  
.well.well-sm
  %table.table
    %tr
      %td
        name:
      %td
        %h1= @user.name
    %tr
      %td
        email:
      %td
        = @user.email
    %tr
      %td
        posts:      
      %td
        = @user.posts.count
    %tr
      %td
        comments:      
      %td
        = @user.comments.count
    %tr
      %td
        registerd:      
      %td.timestamp
        = @user.created_at.strftime("%e-%B-%Y")
    %tr
      %td
        last activity:      
      %td.timestamp
        - unless @user.last_seen_at.nil? 
          = "#{time_ago_in_words(@user.last_seen_at)} ago"
      