- provide(:title, 'All users')
%h1 All users
%ul.users
  - @users.each do |user|
    %li
      = image_tag user.avatar, size: "100"
      = link_to user.name, user 
      - unless user.last_seen_at.nil? 
        = " last activity #{time_ago_in_words(user.last_seen_at)} ago"
      - if current_user.admin? && !current_user?(user)
        #{link_to "delete", user, method: :delete, data: { confirm: "You sure?" }}

= will_paginate @users
