  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'user_info' %>
      </section>
      
      <section>
      <% if @posts.first.user==current_user %>
        
        <div id="new_post">
          <%= link_to 'New Post', new_post_path, remote: true %>
        </div>

        <div id="post_form", style="display:none;">
          <%= render partial: 'posts/post_form' %>
        </div>

      <% end %>
      </section>
    </aside>

    <div class="span9">
      <h3>Post Feed (<%=pluralize(@posts.count, "post")%>)</h3>
      
      <div id="post_feed">
        <%= render 'posts/post_feed' %>
      </div>

      <div class="pagination">
          <%= will_paginate @posts %>
      </div>

    </div>
  </div>
