
<% provide(:title, @user.name) %>
<div class = "row">
  <aside class = "span2">
    <section>
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>
  <div class="span10">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
