  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'user_info' %>
      </section>
      <section>
        <%= render 'posts/post_form' %>
      </section>
    </aside>

    <div class="span9">
      <h3>Post Feed (<%=pluralize(@posts.count, "post")%>)</h3>
      <div id="post_feed">
      <%= render 'posts/post_feed' %>
      </div>
      <%= will_paginate @posts %>
    </div>

  </div>
