  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'user_info' %>
      </section>
      
      <section>
      <% if @posts.first.user==current_user %>
        
        <div id="new_post" class="btn btn-large btn-info">
          Create a New Post
        </div>

        <div id="post_form", style="display:none;">
          <%= render partial: 'posts/post_form' %>
        </div>

      <% end %>
      </section>
    </aside>

    <div class="span8">
      <h3>Post Feed (<%=pluralize(@posts.count, "post")%>)</h3>
      
      <div id="post_feed" class="posts">
        <%= render 'posts/post_feed' %>
      </div>

      <div id="pagination">
          <%= will_paginate @posts %>
      </div>

    </div>
  </div>
