<li>
  <span class="post_title"><%= post.title %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete, data: { confirm: "Are you sure?" },title: post.title %>
  <% end %>




<div id="comments">
	<%= render post.comments %>
</div>

<br>

	<%= form_for([post, post.comments.build], remote: true) do |f| %>
		<%= f.text_area :content, placeholder: "enter comment here" %>
		<%= f.submit "Comment!", class: "btn"%>
	<% end %>

</li>

