<li>
  <span class="post_title"><%= post.title %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete, data: { confirm: "Are you sure?" },title: post.title %>
  <% end %>

<% @post_comments = @all_comments.where(post_id: post.id) %>
<%= render @post_comments %>

<br>
  <%= form_for([post, post.comments.build]) do |f| %>
    <%= f.text_area :content, placeholder: "write your comment here (max 200 symbols)" %>
    <p>
      <%= f.submit "Comment it!", class: "btn btn-small" %>
    </p>
  <% end %>
</li>

