<li post_id="<%= post.id %>" style = "list-style-type: none" class="posts">

  <%= image_tag post.user.avatar.url(:small) %>
  <span class="user">
    <%= link_to post.user.name, post.user %>
  </span>
  <span class="content"><h1><%= post.title %></h1></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if current_user?(post.user) %>
    <span class="deletePost">delete</span>
  <% end %>

  <div>
    <ul>
      <%= render post.comments %>
    <ul>
  </div>

  <span class="new_comment label label-info" comment_form_id="<%= post.id %>">comment the post...</span>

  <span style="display:none;" class="comment_form">
    <%= render partial: 'comments/comment_form', locals: { post: post } %>
  </span>


</li>