<%= form_for(@post, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h1> Create a new post: </h1>
  <div class="title_field">
    <%= f.text_area :title, placeholder: "Enter the post title..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Enter the post body..." %>
  </div>
  <%= f.submit "Post it", class: "btn btn-large btn-success" %>
<% end %>